<%= simple_form_for([@product, @product.comments.build]) do |f|%>

  <div class="container">
    <div class="row">
      <%= f.text_area :body, class: "form-control" %>
      <br>


  <%= f.submit "Write a comment", class: "btn btn-primary" %>
<% end %>
</div>
</div>
