<div class="frontpage">

    <!-- Carousel
================================================== -->
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg5035d8ktj31kw10qgmr.jpg" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>iPhone 7
                        </h1>
                    <p this < is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""></p>
                    <p>
                        <a class="btn btn-lg btn-default" href="/products/5">Order Now</a>
                    </p>
                </pthis>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="http://twimages.vr-zone.net/2017/01/top-banner.jpg" class="img-responsive">
        <div class="container">
            <div class="carousel-caption">
                <h1>HTC</h1>
                <p></p>
                <p>
                    <a class="btn btn-lg btn-default" href="/products/2">Order Now</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="https://i.wpimg.pl/1920x0/m.komorkomania.pl/xiaomi-mi-5-b834e70b6a4fe162a060,0,0,0,0,0-98,2000-880.jpg" class="img-responsive">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="color:black">Xiao Mi</h1>
                <p></p>
                <p>
                    <a class="btn btn-lg btn-danger" href="/products/6">Order Now</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
</div>
<!-- /.carousel -->

</div>
<!-- /.container -->
<!-- 分割线-->

<script>$('#myCarousel').carousel({
	interval: 5000
})</script>



<!-- <div class="container">
<h2 class="text-center"></h2>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 color">
        <a href="/products/5"><img class="img-responsive" src="https://cdn.hk01.com/media/article/79944/thumbnail/ccfefec4ab825b0be633ffec493bb623.jpg"/></a>
    </div>

</div>
</div>
 -->





<!-- 分割线-->
<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 color">
          <a href="#"><img class="img-responsive" src="https://ws1.sinaimg.cn/large/006tNc79gy1fg5xitpunqj31as03i0tj.jpg"/></a>
      </div><!-- 新品专区图      -->


<!-- BEGIN PRODUCTS -->
<!-- <div class="col-md-3 col-sm-6 " id="fixpic">

          <a href="/products/5"><img class="img-responsive" src="https://img10.360buyimg.com/imgzone/jfs/t4492/275/3001303080/22581/3e6560aa/58f8172fNf0bfdce0.jpg"/></a>

</div> -->

<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/5">
        <img src="https://img10.360buyimg.com/n7/jfs/t4276/257/2416766721/125228/ba72a107/58d1d078N20e18b62.jpg" alt="...">
      </a>
        <h4>iPhone 7 Plus 128G 红色特别版 </h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥6699</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/5" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/6">
        <img src="https://img10.360buyimg.com/n7/jfs/t2767/189/1614376542/54984/76e8eb5c/57442c37N050748eb.jpg" alt="...">
      </a>
        <h4>小米Max 6.44英寸 双卡双待 全网通</h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥3499</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/6" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/10">
        <img src="https://img13.360buyimg.com/n7/jfs/t5092/185/1544533857/276827/875c97bd/5911a283N4d640bfb.jpg" alt="...">
      </a>
        <h4>三星（SAMSUNG）Galaxy S8 </h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥5688</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/10" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/9">
        <img src="https://img12.360buyimg.com/n7/jfs/t4399/111/2933927968/236427/fe9e69bd/58f4793eN280a99d3.jpg" alt="...">
      </a>
        <h4>HTC U Ultra 11 全网通 蓝宝石版</h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥5988</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/9" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>


<!-- <div class="col-md-9 col-sm-6 " id="fixpic">

          <a href="/products/5"><img class="img-responsive" src="http://www.linuxdiyf.com/linux/uploads/allimg/161020/2-161020145001336.JPG"/></a>

</div> -->





</div>

<!-- 分割线-->



<!-- 分割线 -->

<!-- <div class="container">

<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6 color">
        <a href="/products/5"><img class="img-responsive" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fg3uwaevilj308c05kgmd.jpg"/></a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 color">
        <a href="/products/6"><img class="img-responsive" src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg3uwoo1goj308c05kq2t.jpg"/></a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 color">
        <a href="/products/9"><img class="img-responsive" src="http://sakhtafzar.com/wp-content/uploads/2017/03/htc-u-ultra.jpg"/></a>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 color">
        <a href="/products/3"><img class="img-responsive" src="http://www.anquanjiaofu.com/upload/2015/11/16/79065cf6-a414-4c4f-90d9-8aa4592fe334.jpg"/></a>
    </div>
</div>
</div> -->

<hr>


<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 color">
          <a href="#"><img class="img-responsive" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fg5m0k3ilej316c02pab7.jpg"/></a>
      </div><!-- 精品配件专区图      -->



</div>

<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/11">
        <img src="https://img10.360buyimg.com/n7/jfs/t4357/161/3114760223/94789/8f512e23/58db7095Ne591e778.jpg" alt="...">
      </a>
        <h4>飞利浦 10000毫安 移动电源 </h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥169</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/11" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/12">
        <img src="https://img11.360buyimg.com/n7/jfs/t3280/252/5796853688/52477/6cf4e66b/58981d4aN1128549f.jpg" alt="...">
      </a>
        <h4>Beats X 蓝牙无线耳机</h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥1188</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/12" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/14">
        <img src="https://img14.360buyimg.com/n7/jfs/t1888/132/2407887633/95902/445c026d/56d80740Nefa1d549.jpg" alt="...">
      </a>
        <h4>埃普 AP-4S 懒人手机支架</h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥49</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/14" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>
<div class="col-md-3 col-sm-6">
    <span class="thumbnail">
      <a href="/products/13">
        <img src="https://img10.360buyimg.com/n7/jfs/t3526/359/278102525/107281/9aff40b4/580490acN485262e4.jpg" alt="...">
      </a>
        <h4>小米 10000毫安 移动电源2</h4>
        <div class="ratings">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>
        </p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">￥79</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="/products/13" target="_blank">
                    <button class="btn btn-info right">
                        立即购买</button>
                </a>
            </div>

        </div>
    </span>
</div>


<!-- <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 color">
        <a href="#"><img class="img-responsive" src="http://wirelesspeakers.net/wp-content/uploads/Beats-Pill-XL-Portable-Speaker.jpg"/></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 color">
        <a href="#"><img class="img-responsive" src="http://d3sjy56phtjev9.cloudfront.net/3494675/original/0ee85aab8c85f5a1abf3bd9b7726438d20170419-24765-15kxswc.jpg.jpg?1492619342"/></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 color">
        <a href="#"><img class="img-responsive" src="http://www.yoka.com/dna/pics/ba1ca9be/56/d35c75b3bb91b3b53b.jpg"/></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 color">
        <a href="#"><img class="img-responsive" src="https://img.shoplineapp.com/media/image_clips/574c4d9561706910fb980100/large.jpg?1464618389"/></a>
    </div>
</div> -->
</div>
<hr>

<div class="container"

	<div class="row"><br>

		<div class="jumbotron">



         <p><a class="btn btn-danger btn-lg" href="/camera">点击进入</a></p>
        </div>
	</div>

</div>
