<div class="frontpage">

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://i.wpimg.pl/1920x0/m.komorkomania.pl/iphone-7-plus-czerwony-e314593bf,0,0,0,0,0-151,2136-986.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>iPhone 7 </h1>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-lg btn-default" href="/products/5">Order Now</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="http://twimages.vr-zone.net/2017/01/top-banner.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>HTC</h1>
          <p></p>
          <p><a class="btn btn-large btn-default" href="/products/2">Order Now</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://i.wpimg.pl/1920x0/m.komorkomania.pl/xiaomi-mi-5-b834e70b6a4fe162a060,0,0,0,0,0-98,2000-880.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:black">Xiao Mi</h1>
          <p></p>
          <p><a class="btn btn-large btn-danger" href="/products/6">Order Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<!-- /.carousel -->


</div><!-- /.container -->



<!-- Metro style dynamic tiles -->

<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6 color"><a href="/products/5"><img class="img-responsive" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fg3uwaevilj308c05kgmd.jpg" /></a></div>
    <div class="col-md-3 col-sm-4 col-xs-6 color"><a href="/products/6"><img class="img-responsive" src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg3uwoo1goj308c05kq2t.jpg" /></a></div>
        <div class="col-md-3 col-sm-4 col-xs-6 color"><a href="/products/2"><img class="img-responsive" src="http://www.clintonfitch.com/wp-content/uploads/2017/01/HTC-U-Ultra-300x200.png" /></a></div>
        <div class="col-md-3 col-sm-4 col-xs-6 color"><a href="/products/3"><img class="img-responsive" src="http://www.anquanjiaofu.com/upload/2015/11/16/79065cf6-a414-4c4f-90d9-8aa4592fe334.jpg" /></a></div>
    	</div>
</div>
