<div class="jumbotron">
    <h1 class="title">美丽说</h1>
    <p class="slogan">你的美丽顾问
    <br>
    万种商品
    <br>
    任性特卖
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">SHOP NOW</a></p>
  </div>
