<h1 class="text-center">ABOUT US</h1>
<hr>
<div class="container">
    <div class="row">

        <div class="col-md-6 col-sm-12 " id="fixpic">

            <a href="#"><img class="img-responsive" src="http://pic.to8to.com/case/1511/02/20151102_c328eb7533c5b8d77555nckn0h9kxoyi.jpg"/></a>

        </div>

        <h3 class="text-align">名机汇是广州最大的手机线上线下综合店铺，位于天河城南一路，拥有十年历史大店，淘宝四皇冠支撑，名机汇货源广，长期拥有一手好货源，售后过硬，服务多元化。
            是广州老字号，广州价格旗帜,淘宝网双皇冠店，售后服务维修能力也是您购机的一个重要参考，售后服务讲究的是规模应，规模越是大的商家，其售后服务的能力以及规范程度越是强,这就是为什么大家买家用电器都喜欢去国美电器是一个道理，他们的售后服务是顾客信赖的。所以就算是同样的价格您所享受的服务完全是不同的，很多价格看似便宜的商家都是三天打鱼两天撒网的游击队。因此，选择我们是您网上购机的最佳选择。</h3>
    </div>
</div>
