<h1 class="text-center">手机摄影大赛作品展</h1>

<div class="container-fluid">
    <div class="row text-center">
        <!-- <h3 style="color:white;font-family:verdana;">Snap Tight Image Tiles (Responisve)<br><small><a href="http://www.nandiraju.com">Srikanth Nandiraju</small></h3> -->
    </div>
    <div class="row">
        <div
            class="cover-card col-sm-4"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/4.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/4.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：华为 P10 <br> 拍摄地点：澳大利亚</p>
        </div>
        <div
            class="cover-card col-sm-8"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/6.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/6.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：vivo X9 <br> 拍摄地点：澳大利亚</p>
        </div>
        <div
            class="cover-card col-sm-3"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/9.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/9.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：OPPO R9s <br> 拍摄地点：四姑娘山</p>
        </div>
        <div
            class="cover-card col-sm-3"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/15.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/15.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：iPhone 7Plus <br> 拍摄地点：巴厘岛

            </p>
        </div>
        <div
            class="cover-card col-sm-3"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/10.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/10.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>
                拍摄手机：OPPO R9s <br> 拍摄地点：巴厘岛</p>
        </div>
        <div
            class="cover-card col-sm-3"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/34.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/34.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：OPPO R9s <br> 拍摄地点：新疆</p>
        </div>

        <div
            class="cover-card col-sm-4"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/3.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/3.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：HTC Ultro <br> 拍摄地点：云南</p>
        </div>
        <div
            class="cover-card col-sm-4"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/1.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/1.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：SAMSUNG S8 <br> 拍摄地点：西班牙</p>
        </div>
        <div
            class="cover-card col-sm-4"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/2.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/2.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：OPPO R9s <br> 拍摄地点：澳大利亚</p>
        </div>
        <div
            class="cover-card col-sm-6"
            onclick="window.open('https://www.worldphoto.org/sites/default/files/styles/field_banner/public/page/banner/205313_220884_2_%20%C2%A9%20Ralph%20Gra%CC%88f%2C%20Germany%2C%20Shortlist%2C%20Open%20Competition%2C%20Travel%2C%202017%20Sony%20World%20Photography%20Awards.jpg?itok=h1OIWIES')"
            style="background: url(https://www.worldphoto.org/sites/default/files/styles/field_banner/public/page/banner/205313_220884_2_%20%C2%A9%20Ralph%20Gra%CC%88f%2C%20Germany%2C%20Shortlist%2C%20Open%20Competition%2C%20Travel%2C%202017%20Sony%20World%20Photography%20Awards.jpg?itok=h1OIWIES) no-repeat center top;background-size:cover;">
            <p>
                拍摄手机：Sony Xperia <br> 拍摄地点：美国
            </p>

        </div>
        <div
            class="cover-card col-sm-6"
            onclick="window.open('http://shopfs.myoppo.com/cn/lib/photos/images/1920/5.jpg?v=193594')"
            style="background: url(http://shopfs.myoppo.com/cn/lib/photos/images/1920/5.jpg?v=193594) no-repeat center top;background-size:cover;">
            <p>拍摄手机：美图 T8 <br> 拍摄地点：迪拜</p>
        </div>
        <!-- <div class="cover-card col-sm-6" style="background: url(https://ws4.sinaimg.cn/large/006tNbRwgy1fg4ewe9bkmj308c05kjr5.jpg) no-repeat center top;background-size:cover;">
            <a href="http://shopfs.myoppo.com/cn/lib/photos/images/1920/5.jpg?v=193594"><img class="img-responsive" src="http://shopfs.myoppo.com/cn/lib/photos/images/1920/5.jpg?v=193594"/></a>

        </div>
        <div class="cover-card col-sm-6" style="background: url(https://ws4.sinaimg.cn/large/006tNbRwgy1fg4ewe9bkmj308c05kjr5.jpg) no-repeat center top;background-size:cover;">
            <a href="http://shopfs.myoppo.com/cn/lib/photos/images/1920/19.jpg?v=193594"><img class="img-responsive" src="http://shopfs.myoppo.com/cn/lib/photos/images/1920/19.jpg?v=193594"/></a>

        </div> -->
    </div>
</div>
