


<style>
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}
</style>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p class="text-center">Copyright @2017 Tangvwin
    <br>Design by Tangvwin

  </p>
</footer>
