<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span>名机汇</span></h3>

				<p class="footer-links">
					<a href="#">主页</a>
					·
					<a href="#">明星机型</a>
					·
					<a href="#">配件</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">名机汇© 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p>Zhujiang New Town, Guangzhou, China</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+86 020 61888888</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:tangvwin@gmail.com">tangvwin@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					致力于提供更好的客户体验
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
